<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{global/headData:: headData}">
</th:block>

<body id="body">
<th:block th:replace="~{global/header :: header}">
</th:block>
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h4 class="text-center mt-30">로그인</h4>
          <form class="text-left clearfix" th:action="@{/members/login}" method="post">
            <div class="form-group">
              <input type="text" id="username" name="username" class="form-control login-input"  placeholder="이름을 입력해주세요">
            </div>
            <div class="form-group">
              <input type="password" id="password" name="password" class="form-control login-input"  placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="login-oneline-group">
              <a th:href="@{/members/id-inquiry}">아이디 찾기 </a>
              <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
              <a th:href="@{/members/password-inquiry}"> 비밀번호 찾기</a>
            </div>
            <div class="text-center">
              <div><button type="submit" class="btn btn-small  text-center btn-round btn-login-page mt-10" >로그인</button></div>
              <div><button type="button" class="btn btn-small  text-center btn-round btn-login-page btn-subcolor mt-10" onclick = "location.href = '/oauth2/authorization/google'" >구글 로그인</button></div>
              <div><button type="button" class="btn btn-small  text-center btn-round btn-login-page btn-subcolor mt-10" onclick = "location.href = '/members/signup'" >회원가입</button></div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>

<th:block th:replace="~{global/scriptData:: scriptData}">
</th:block>


</body>
</html>