<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{global/headData:: headData}"></th:block>

<body id="body">
<th:block th:replace="~{global/AlcoholHeader :: header}"></th:block>
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        </ul>
        <div class="dashboard-wrapper dashboard-user-profile">
          <div class="media">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <!--<th> </th>-->
                          <th>상품 이미지</th>
                          <th>상품명</th>
                          <th>가격</th>
                          <th>수량</th>
                          <th>바로 구매하기</th>
                          <th>장바구니 삭제</th>
                        </tr>
                        <tr th:each="cart : ${carts.result.content}">
                          <!--<td>
                            <input type="checkbox">
                          </td>-->
                          <form  method="post" th:action="@{/orders/cart/items}" th:object="${requestOrderInfoDTO}">
                          <td>
                            <img th:src="${cart.itemImgUrl}" style="width: 3vw; height: 7vw">
                          </td>
                          <td th:text="${cart.itemName}"></td>
                          <input type="hidden" th:value="${cart.itemId}" th:field="${requestOrderInfoDTO.orderItems[0].itemId}">
                          <input type="hidden" th:value="${cart.price}" th:field="${requestOrderInfoDTO.orderItems[0].price}">
                          <td th:text="${cart.price}"></td>
                          <td th:text="${cart.amount}"></td>
                          <input type="hidden" th:value="${cart.amount}" th:field="${requestOrderInfoDTO.orderItems[0].amount}">
                          <td>
                            <input type="submit" class="btn btn-main mt-20" value="주문">
                          </td>
                          </form>
                          <td>
                            <form th:method="delete"
                                  th:action="@{/cart/items/{cartItemId} (cartItemId=${cart.cartItemId})}">
                              <button type="submit" class="btn btn-main mt-20">삭제
                              </button>
                            </form>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div th:if="${cart}">
                      <!-- 전역 변수 선언 -->
                      <nav th:with=" pageNumber = ${cart.pageable.pageNumber},
                                                pageSize = ${cart.pageable.pageSize},
                                                totalPages = ${cart.totalPages},
                                                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                                tempEndPage = ${startPage + pageSize - 1},
                                                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                           aria-label="Page navigation">
                        <ul class="pagination ">
                          <!-- 처음으로 이동 -->
                          <li th:classappend="${pageNumber < pageSize} ? 'disabled'"
                              class="page-item">
                            <a class="page-link" th:href="@{/items/cart/(page=0)}">
                              <span>&laquo;</span>
                              <span class="sr-only">First</span>
                            </a>
                          </li>

                          <!-- 이전으로 이동 -->
                          <li th:classappend="${cart.first} ? 'disabled'"
                              class="page-item">
                            <a class="page-link"
                               th:href="${cart.first} ? '#' : @{/items/cart/(page=${pageNumber - 1})}"
                               aria-label="Previous">
                              <span aria-hidden="true">&lt;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>

                          <!-- 특정 페이지로 이동 -->
                          <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                              th:classappend="${page == pageNumber + 1} ? 'active'"
                              class="page-item">
                            <a th:text="${page}" class="page-link"
                               th:href="@{/items/cart/(page=${page - 1})}"></a>
                          </li>

                          <!-- 다음으로 이동 -->
                          <li th:classappend="${cart.last} ? 'disabled'"
                              class="page-item">
                            <a class="page-link"
                               th:href="${cart.last} ? '#' : @{/items/cart/(page=${pageNumber + 1})}"
                               aria-label="Next">
                              <span aria-hidden="true">&gt;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>

                          <!-- 마지막으로 이동 -->
                          <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'"
                              class="page-item">
                            <a class="page-link"
                               th:href="@{/items/cart/(page=${totalPages - 1})}">
                              <span>&raquo;</span>
                              <span class="sr-only">Last</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div> <!-- /container -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Main jQuery -->
<script th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.1 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- Bootstrap Touchpin -->
<script th:src="@{/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js}"></script>
<!-- Instagram Feed Js -->
<script th:src="@{//instafeed/instafeed.min.js}"></script>
<!-- Video Lightbox Plugin -->
<script th:src="@{/plugins/ekko-lightbox/dist/ekko-lightbox.min.js}"></script>
<!-- Count Down Js -->
<script th:src="@{/plugins/syo-timer/build/jquery.syotimer.min.js}"></script>

<!-- slick Carousel -->
<script th:src="@{/plugins/slick/slick.min.js}"></script>
<script th:src="@{/plugins/slick/slick-animation.min.js}"></script>

<!-- Main Js File -->
<script th:src="@{/js/script.js}"></script>

<!-- Login Js File -->
<script th:src="@{/js/login-script.js}"></script>


</body>
</html>

