<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{global/headData:: headData}"></th:block>

<body id="body">
<th:block th:replace="~{global/header :: header}"></th:block>
<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a href="#" th:href="@{/wish-list}">Items</a></li>
                    <li><a href="#" th:href="@{/wish-list/cocktails}">Cocktails</a></li>
                </ul>
                <div class="dashboard-wrapper dashboard-user-profile">
                    <div class="media">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="dashboard-wrapper user-dashboard">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tr>
                                                    <th>상품 이미지</th>
                                                    <th>상품명</th>
                                                    <th>바로 구매하기</th>
                                                    <th>찜하기 취소</th>
                                                </tr>
                                                <tr th:each="cocktail : ${wishList.content}">
                                                    <td>
                                                        <img th:src="${cocktail.cocktailImgUrl}" style="width: 3vw; height: 7vw">
                                                    </td>
                                                    <td style="width: 200px" th:text="${cocktail.cocktailName}"></td>
                                                    <td><a href="#"
                                                           th:href="@{/items/cocktails/{cocktailId} (cocktailId=${cocktail.cocktailId})}"
                                                           class="btn btn-default btn-asd">바로가기</a></td>
                                                    <td>
                                                        <form th:method="delete"
                                                              th:action="@{/wish-list/cocktails/{wishListId} (wishListId=${cocktail.cocktailWishListId})}">
                                                            <button type="submit" class="btn btn-default btn-asd">삭제
                                                            </button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div th:if="${wishList}">
                                            <!-- 전역 변수 선언 -->
                                            <nav th:with=" pageNumber = ${wishList.pageable.pageNumber},
                                                pageSize = ${wishList.pageable.pageSize},
                                                totalPages = ${wishList.totalPages},
                                                startPage = ${T(java.lang.Math).floor(pageNumber / pageSize) * pageSize + 1},
                                                tempEndPage = ${startPage + pageSize - 1},
                                                endPage = (${tempEndPage < totalPages ? tempEndPage : totalPages})"
                                                 aria-label="Page navigation">
                                                <ul class="pagination ">
                                                    <!-- 처음으로 이동 -->
                                                    <li th:classappend="${pageNumber < pageSize} ? 'disabled'"
                                                        class="page-item">
                                                        <a class="page-link" th:href="@{/wish-list/cocktails/(page=0)}">
                                                            <span>&laquo;</span>
                                                            <span class="sr-only">First</span>
                                                        </a>
                                                    </li>

                                                    <!-- 이전으로 이동 -->
                                                    <li th:classappend="${wishList.first} ? 'disabled'"
                                                        class="page-item">
                                                        <a class="page-link"
                                                           th:href="${wishList.first} ? '#' : @{/wish-list/cocktails/(page=${pageNumber - 1})}"
                                                           aria-label="Previous">
                                                            <span aria-hidden="true">&lt;</span>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                    </li>

                                                    <!-- 특정 페이지로 이동 -->
                                                    <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
                                                        th:classappend="${page == pageNumber + 1} ? 'active'"
                                                        class="page-item">
                                                        <a th:text="${page}" class="page-link"
                                                           th:if="${page} != 0" th:href="@{/wish-list/cocktails/(page=${page - 1})}"></a>
                                                    </li>

                                                    <!-- 다음으로 이동 -->
                                                    <li th:classappend="${wishList.last} ? 'disabled'"
                                                        class="page-item">
                                                        <a class="page-link"
                                                           th:href="${wishList.last} ? '#' : @{/wish-list/cocktails/(page=${pageNumber + 1})}"
                                                           aria-label="Next">
                                                            <span aria-hidden="true">&gt;</span>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </li>

                                                    <!-- 마지막으로 이동 -->
                                                    <li th:classappend=" ${T(java.lang.Math).floor(totalPages / pageSize) * pageSize - 1 <= startPage} ? 'disabled'"
                                                        class="page-item">
                                                        <a class="page-link"
                                                           th:href="@{/wish-list/cocktails/(page=${totalPages - 1})}">
                                                            <span>&raquo;</span>
                                                            <span class="sr-only">Last</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div> <!-- /container -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main jQuery -->
<script th:src="@{/plugins/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.1 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- Bootstrap Touchpin -->
<script th:src="@{/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js}"></script>
<!-- Instagram Feed Js -->
<script th:src="@{//instafeed/instafeed.min.js}"></script>
<!-- Video Lightbox Plugin -->
<script th:src="@{/plugins/ekko-lightbox/dist/ekko-lightbox.min.js}"></script>
<!-- Count Down Js -->
<script th:src="@{/plugins/syo-timer/build/jquery.syotimer.min.js}"></script>

<!-- slick Carousel -->
<script th:src="@{/plugins/slick/slick.min.js}"></script>
<script th:src="@{/plugins/slick/slick-animation.min.js}"></script>

<!-- Main Js File -->
<script th:src="@{/js/script.js}"></script>

<!-- Login Js File -->
<script th:src="@{/js/login-script.js}"></script>


</body>
</html>
